<p id="notice"><%= notice %></p>

<h1>Atricles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atricles.each do |atricle| %>
      <tr>
        <td><%= atricle.title %></td>
        <td><%= atricle.description %></td>
        <td><%= link_to 'Show', atricle %></td>
        <td><%= link_to 'Edit', edit_atricle_path(atricle) %></td>
        <td><%= link_to 'Destroy', atricle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atricle', new_atricle_path %>
